<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HG.dao.UserMapper">

    <!-- 查询用户 -->
    <select id="getUserById" resultType="com.HG.pojo.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser">
        INSERT INTO user(name) VALUES (#{name})
    </insert>

    <!-- 更新用户 -->
    <update id="updateUser">
        UPDATE user SET name = #{name} WHERE id = #{id}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{id}
    </delete>

</mapper>
